*.mp4
*.webm
*.jpg
*.jpeg
*.png
*.txt
*.log

logs
nadeshiko*.rc.sh
# Manual running of ffmpeg leaves a log,
# if interrupted.
ffmpeg2pass-0.log

tests/*
!tests/nadeshiko_tests.sh
!tests/calc_sizes.sh
!tests/container_ratios.sh
!tests/take_screens.sh
